

body{

	margin: 0;
	padding:0;
	font-family: 'Inconsolata', monospace;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Playfair Display', serif;

    color: #626262;
}



/*header Start */

header{

padding: 15px 0;

}

.container{

width: 90%;
margin:0 auto;

overflow: hidden;

}


.logo {
float: left;
width: 10;
margin-top: 12px;

}

.logo img {

width: 100%;

}


.menu {
float: right;

width: 70%;

}


.menu ul {

float: right;

}

.menu ul li {

	list-style: none;
	float: left;
}


.menu ul li a {
    color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	display: inline-block;
	border-bottom: 1px solid transparent;
	margin: 0 60px;
	padding-bottom: 5px;
    transition: .3s;

}

.menu ul li a:hover{

 border-bottom: 1px solid #626262;
}



.menu ul li:last-child a{

	margin-right: 0;
}





/*header End */

/*Banner Start */

.banner{

}

.b_image{


}

.b_image img{

width: 100%;

}







/*Banner End */

/*photodiary Start */

.photodiary , .service_2 {

padding-top: 70px;
padding-bottom: 90px;

}

.container_2{

	width: 80%;
	margin:0 auto;
	overflow: hidden;
}


.body_text{


}

.l_text{

font-family: 'Ubuntu', sans-serif;
font-weight: 300;
font-size: 14px;
display: inline-block;
color:#b4ad9e;
text-transform: uppercase;
margin:0;

}

.title {

font-weight: 400;
font-size: 30px;
border: 1 px solid green;
display: inline-block;
margin-top:20px;
margin-bottom: 30px;


}

.text {

line-height: 25px;
margin-top: 0;
margin-bottom: 40px;


}

.container_2 textarea{

	border-style: none;
}

.container_2 textarea::placeholder{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
color:#b4ad9e;

}

.container_2 textarea::-webkit-input-placeholder{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;

}





/*photodiary End*/


/*service start*/

.service {

padding-bottom: 90px;

}


.service_1 {

width: 47%;
float: left;
margin-top: 50px;


}

.service_1:nth-child(even){

margin-left: 6%;

}


.service_1 img{

width: 100%;
margin-bottom: 20px;

}


.service_text{



}

.service_text h3{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
color:#b4ad9e;


}

.service_text h2{

font-family: 'Playfair Display', serif;
font-size: 25px;
font-weight: 400;
margin:15px 0 ;
display: inline-block;

}

.service_text p{


}



/*service End*/

/*Newsletter Start*/


.newsletter{

	background-color: #f0f0f0;
	padding:70px 0; 
}

.container_3 {

	width: 33%;
	margin: 0 auto;

}

.n_content{

text-align: center;
padding: 30px 0;
}

.s_h1{

color: #333333;
margin-top: 0;
margin-bottom: 70px; 


}

.s_form{

    position: relative;
	width: 400px;
	margin: 0 auto;
	
}



.s_form input{

    
    
    font-family: 'Playfair Display', serif;
    font-weight: 380px;
    font-size: 14px;
    color:#626262; 
    width: 345px;
    height: 45px;
	border-style: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	padding-left:  5px;
	padding-right:  45px;
	
}

.s_form input:focus{

	outline: 0;
}

.n_content input::placeholder{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
color:#626262;

}

.n_content input::-webkit-input-placeholder{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
color:#626262;


}

.n_content button {
    
    position: absolute;
	border-style: none;
	background-color: transparent;
	cursor: pointer;
	top: 15px;
	right: 0;
	
}

.n_content button:focus{
	outline:0;
}


.n_content button:hover{

color: #303030;
}


/*Newsletter End*/

/*Service 2 start*/

.service_2 {

	padding-top: 70px;
	padding-bottom: 90px;
}


.load_more{

	text-align: center;
}

.load_more button{


	font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 20px;
    color:#626262;
    width: 165px;
	height: 60px;
	border:none;
    border: 1px solid #626262;
    cursor: pointer;
    margin-top: 50px;
    transition: 1s;

}

.load_more button:focus{

	outline: 0;
}

.load_more button:hover{

background-color: #626262;
color: white;

}

/*Service 2 End*/

/*Footer start*/

.footer{

background-color: #f0f0f0;


}
.container_4{

	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 0;
}

.terms{

width: 25%;
float: left;
overflow: hidden;
margin:13px 0;


}





.terms  a{
	
	text-decoration: none;
	padding:0 10px;
	font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 300;
    color:#000000;
    display: inline-block;
}

.terms  a:hover{

	color: #626262;
}



#terms_left{

	padding-left: 0px;
}



.social{

width: 20%;

float: right;

}

.social ul{

float: right;

}

.social ul li{

list-style: none;
float:left;


}

.social ul a {

text-decoration: none;
padding:0 10px;
font-family: 'Playfair Display', serif;
font-size: 16px;
font-weight: 300;
color:#626262;
display: inline-block;

}

.social ul li:last-child a{

	padding-right: 0;
}

.social ul li:first-child a{

	color: black;
}

.social ul a:hover {

	color: #484848;

}

.social ul li:first-child a:hover{

	color: #626262;
}




/*Footer end*/


