

body{

	margin: 0;
	padding:0;
	font-family: 'Inconsolata', monospace;

    font-family: 'Playfair Display', serif;

    font-family: 'Ubuntu', sans-serif;

    color: #626262;
}



/*header Start */

header{

padding: 15px 0;

}

.container{

width: 90%;

margin:0 auto;

overflow: hidden;
}


.logo {
float: left;
width: 10;
margin-top: 12px;

}

.logo img {

width: 100%;

}


.menu {
float: right;

width: 70%;

}


.menu ul {

float: right;

}

.menu ul li {

	list-style: none;
	float: left;
}


.menu ul li a {
    color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	display: inline-block;
	padding: 0 60px;
   transition: 1s;

}

.menu ul li a:hover{

  color: green;
  text-decoration: underline overline;
}



.menu ul li:last-child a{

	padding-right: 0;
}





/*header End */

/*Banner Start */

.banner{

}

.b_image{


}

.b_image img{

width: 100%;

}







/*Banner End */

/*photodiary Start */

.photodiary{

margin: 100px 0;

}

.container_2{

width: 80%;

margin:0 auto;

overflow: hidden;
}


.body_text{

padding: 0 0;
}

.body_text h3{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
color:#b4ad9e;

}

.body_text h2{
font-family: 'Playfair Display', serif;
font-size: 30px;
font-weight: 400;
margin:15px 0 ;
border: 1 px solid green;
display: inline-block;


}

.body_text p{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
line-height: 24px;
margin-bottom: 30px;

}

.body_text textarea{

	border-style: none;
}

.body_text textarea::placeholder{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
color:#b4ad9e;

}

.body_text textarea::-webkit-input-placeholder{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;

}





/*photodiary End*/


/*service start*/

.service {


}

.servicebox{

width: 100%;

margin: 0 auto;

overflow: hidden;
}

.service_1 {

width: 45%;

float: left;


margin: 60px 0;
}

.service_2 {

width: 45%;

float: right;


margin: 60px 0;
}



.image{


}

.image img{

width: 100%;

}


.service_text{



}

.service_text h3{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
color:#b4ad9e;


}

.service_text h2{

font-family: 'Playfair Display', serif;
font-size: 25px;
font-weight: 400;
margin:15px 0 ;
display: inline-block;

}

.service_text p{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
margin:15px 0 ;
display: inline-block;

}



/*service End*/

/*Newsletter Start*/


.newsletter{

	background-color: #f0f0f0;
	margin: 60px 0;
}

.container_3 {

	width: 33%;
	margin: 0 auto;

}

.n_content{

text-align: center;
padding: 30px 0;
}

.n_content h1{

font-family: 'Playfair Display', serif;
font-size: 25px;
font-weight: 400;
margin:30px auto;
display: inline-block;
color: #333333;


}
.email {

    width: 65%;
	height: 25px;
	padding: 5px;


}

.n_content input{

	border-style: none;
	border-bottom: 1px solid black;
	background-color: #f0f0f0;
	margin: 0 0 40px;
}


.n_content input::placeholder{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
color:#626262;

}

.n_content input::-webkit-input-placeholder{

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 300;
color:#626262;


}

.n_content button {
    

	border-style: none;
	font-size: 16px;
	margin:0;
	padding: 0;
	color: #e22454;
	cursor: pointer;
	margin-top: 5px;
}

.n_content  i {

	padding-top: 10px;
}

.n_content button:hover{

color: #303030;
}


/*Newsletter End*/

/*Service 2 start*/

.load_more{
     
    width: 15%; 
	margin: 0 auto;
	text-align: center;

}

.load_more button {

	width: 100%;
	height: 60px;
	font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 300;
    color:#626262;
    border: 1px solid #626262;
    background-color: white;
    margin: 50px auto;
    transition: 1s;


}

.load_more button:hover{

background-color: #626262;
color: white;

}

/*Service 2 End*/

/*Footer start*/

.footer{

background-color: #f0f0f0;


}
.container_4{

	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 0;
}

.terms{

width: 30%;

float: left;

overflow: hidden;

margin:13px 0;
}





.terms  a{
	
	text-decoration: none;
	padding:0 10px;
	font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 300;
    color:#000000;
    display: inline-block;
}

.terms  a:hover{

	color: #626262;
}



#terms_left{

	padding-left: 0px;
}



.social{

width: 24%;

float: right;
}

.social ul{

float: right;

}

.social ul li{

list-style: none;
float:left;


}

.social ul a {

text-decoration: none;
padding:0 10px;
font-family: 'Playfair Display', serif;
font-size: 16px;
font-weight: 300;
color:#626262;
display: inline-block;

}

.social ul li:last-child a{

	padding-right: 0;
}

.social ul li:first-child a{

	color: black;
}

.social ul a:hover {

	color: #484848;

}

.social ul li:first-child a:hover{

	color: #626262;
}




/*Footer end*/


